*#
*.egg-info/
*.pyc
*/input.csv
*~
.#*
.coverage
.data
.env
.hypothesis/
.idea/
.pytest-cache/
__pycache__
app.log
build
docker/docker-compose.env
docker/ssh/id_*
docker/ssh/known_hosts
htmlcov
./lib
model.log
pip-wheel-metadata/*
service*.log
tags
tests/fixtures/*/metadata
tests/fixtures/*/output/*
venv
.venv
workdir
/lib
