*#
*.egg-info/
*.pyc
*/input.csv
*~
.#*
.coverage
.env
.hypothesis/
.python-version
/.idea/
/lib
/tests/fixtures/*/metadata
/tests/fixtures/*/output/*
/workdir
__pycache__
app.log
docker/.env
docker/ssh/id_*
docker/ssh/known_hosts
htmlcov
model.log
pip-wheel-metadata/*
service*.log
tags
venv
