name: Build, publish and deploy assets
on:
  push:
    branches:
      - main
  # this allows us to trigger manually
  workflow_dispatch:

env:
  APP_NAME: rap-controller
  IMAGE_NAME: job-runner
  PUBLIC_IMAGE_NAME: ghcr.io/opensafely-core/job-runner
  REGISTRY: ghcr.io
  HOST: dokku4.ebmdatalab.net
  PRIVATE_REPO_ACCESS_TOKEN: ${{ secrets.ACTIONS_PRIVATE_REPO_RO_TOKEN }}
  STATA_LICENSE: ${{ secrets.STATA_LICENSE }}
  SSH_AUTH_SOCK: /tmp/agent.sock

permissions:
  packages: write
  contents: read

jobs:
  build-publish-and-deploy-docker-image:
    runs-on: ubuntu-22.04
    name: Build, publish and deploy docker image
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Set up Just
      uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6
    - name: Build image
      run: |
        just docker/build dev # build base and dev images
        just docker/build prod # explicitly build prod as well
    - name: Test image
      run: just docker/test
    
    - name: Publish docker image
      run: |
        echo ${{ secrets.GITHUB_TOKEN }} | docker login "$REGISTRY" -u ${{ github.actor }} --password-stdin
        docker tag "$IMAGE_NAME" "$PUBLIC_IMAGE_NAME:latest"
        docker push "$PUBLIC_IMAGE_NAME:latest"
        # dump the full local container metadata into the logs in case its useful
        docker inspect "$PUBLIC_IMAGE_NAME:latest"

    - name: Deploy image
      run: |
        set -euo pipefail

        # Find the full qualified "repo digest" for this image
        IMAGE_DIGEST="$(
          docker inspect --format='{{join .RepoDigests "\n"}}' "$PUBLIC_IMAGE_NAME:latest" \
            | grep --fixed-strings "$PUBLIC_IMAGE_NAME" || true
        )"
        # Fail if we have none or more than one (as indicated by the presence of whitespace)
        if [[ -z "$IMAGE_DIGEST" || "$IMAGE_DIGEST" =~ [[:space:]] ]]; then
          echo "Expected exactly one value in IMAGE_DIGEST, got: $IMAGE_DIGEST"
          echo
          echo "Debug info:"
          set -x
          docker inspect --format='{{join .RepoDigests "\n"}}' "$PUBLIC_IMAGE_NAME:latest"
          exit 1
        fi

        echo "Deploying to $HOST"
        echo "dokku git:from-image $APP_NAME $IMAGE_DIGEST"
        ssh-agent -a "$SSH_AUTH_SOCK" > /dev/null
        ssh-add - <<< "${{ secrets.DOKKU4_DEPLOY_SSH_KEY }}"
        ssh -o "UserKnownHostsFile=/dev/null" -o "StrictHostKeyChecking=no" \
          "dokku@$HOST" git:from-image "$APP_NAME" "$IMAGE_DIGEST"
