name: Scan with Grype (reusable)

on:
  workflow_call:
    inputs:
      fail-build:
        description: Fail the build if vulnerabilities detected
        type: boolean
        required: false
        default: true

jobs:
  grype-scan:
    name: Run Grype security scan
    runs-on: ubuntu-22.04
    permissions:
      security-events: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Scan current project with Grype
        uses: anchore/scan-action@df395807f4554463d4455b8047cf58e37b6acaae  # v6
        id: scan
        with:
          path: '.'
          acs-report-enable: true
          fail-build: ${{ inputs.fail-build }}

      - name: Upload SARIF report to GitHub
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
          category: grype
