name: Scan with Grype (reusable)

on:
  workflow_call:
    inputs:
      fail-build:
        description: Fail the build if vulnerabilities detected
        type: boolean
        required: false
        default: true

jobs:
  grype-scan:
    name: Run Grype security scan
    runs-on: ubuntu-22.04
    permissions:
      security-events: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Scan current project with Grype
        uses: anchore/scan-action@7037fa011853d5a11690026fb85feee79f4c946c  # v6
        id: scan
        with:
          path: '.'
          fail-build: ${{ inputs.fail-build }}

      - name: Upload SARIF report to GitHub
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
          category: grype
